@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --bg-color:rgb(0, 217, 255);
    --primary-color: rgb(0, 0, 0);
    --secondary-color: white;
    --tipo-fonte: "Rubik", sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--tipo-fonte);
    height: 100vh;
    margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px; /*espaço interno do header*/
}
h1{
    font-size: 2rem; /*rem medida do :root*/
    color: var(--bg-color);
    font-weight: 700; /*weight define o negrito*/
}
nav{
    display: flex; /*área flexível navegável*/
    justify-content: center; /*justificar conteúdo ao centro*/
    font-weight: 400; /*negrito*/
}
nav a{ /*link estatico*/
    text-decoration: none; /*tirar o sublinhado*/
    color: var(--bg-color);
    margin: 0 2rem 1rem 0rem; /*espaço externo cima, esquerda
                                              baixo, direita*/
    font-size: 1.2rem; /*tamanho da letra equivalente a 18px*/
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}
footer{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}

.graficos-container{
    margin: 5rem;
}

.graficos-container_texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border:var(--secundary-color) solid 2px;
}

span {
    font-weight: bold;
    color: var(--secundary-color);
}